[Unit]
Description=Create ocpp default certs folder if it does not exist yet
Before=read-only-root.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ocpp_certs.sh

[Install]
WantedBy=multi-user.target