# systemd service file to start Node-RED

[Unit]
Description=Node-RED graphical event wiring tool
Wants=network.target
Documentation=http://nodered.org/docs/hardware/raspberrypi.html

[Service]
Type=oneshot
User=futech
Group=futech
ExecStart=/usr/bin/nodered_init.sh

[Install]
WantedBy=multi-user.target
