[Unit]
Description=Set WiFi AP password (run once on first boot)
Before=systemd-hostnamed.service
After=mnt-user_data.mount
ConditionFileIsExecutable=/usr/bin/set-wifi-ap-password.sh

[Service]
Type=oneshot
ExecStart=/usr/bin/set-wifi-ap-password.sh
ExecStartPost=-systemctl disable set-wifi-ap-password.service

[Install]
WantedBy=multi-user.target

